<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/b7ea169c12.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

  </head>
  <body>
    <nav>
      <ul>
      

        <% if (user) { %>
        <li><a href="/restaurants">Restaurants</a></li>

        <li><a href="/reciept">Order History</a></li>
        <li style="float: right">
          <a href="/baskets"><i class="fa-solid fa-basket-shopping"></i></a>
        </li>
        
        <li style="float: right"><a href="/logout">LOG OUT</a></li>

      

        <% } else { %>
          <li><a href="/" class="login">Home</a></li>
          <li><a href="/restaurants" class="login">Restaurants</a></li>
        <li style="float: right">
          <a href="/auth/google" class="login"
            >LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"
          /></a>
        </li>
        <% } %>
      </ul>
    </nav>

