<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="main">
  <img class="logo" src="/images/Grabhub.png" />
  <button class="res-enter">
    <a class="see-res" href="/restaurants">See All Restaurants</a>
  </button>

  <p class="home-phrase"><%=phrase%></p>
</div>


<%- include('./partials/footer') %>
