<%- include('./partials/header') %>
<link rel="stylesheet" href="/stylesheets/style.css" />

<p>Welcome to <%= title %></p>
<a href="/restaurants">See All Restaurants</a>
<a href="/baskets">basket</a>
<img class="logo" src="/images/Grabhub.png" />
<%- include('./partials/footer') %>
