<%- include('./partials/header') %>

<p>Welcome to <%= title %></p>
<a href="/restaurants">See All Restaurants</a>
<a href="/baskets">basket</a>
<p><%=phrase%></p>
<%- include('./partials/footer') %>
