<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
    <link rel="stylesheet" href="/stylesheets/paymentSuccess.css">
</head>
<body>
    <div class="successdiv"> <p><strong>Thanks for Payment !</strong></p>
        <p>Bon Appétit! <%=user.name%></p>
        <p><%=phrase%></p>
        <a href="/reciept/<%=receiptId%>">Click Here To View Your Receipt</a>
    </div>

</body>
</html>