<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Success</title>
</head>
<body>
    <p><strong>Thanks for Payment !</strong></p>
    <p>Bon Appétit! <%=user.name%></p>
    <p><%=phrase%></p>
    <a href="/reciept/show">Click Here To View Your Receipt</a>
</body>
</html>