body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.details {
  font-size: larger;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  background-color:  #24527a;
}

li {
  float: left; 
}

li a{
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}
 
li a:hover {
 background-color: #5dacbd; 
}
