<!-- order datails 
 price and pics
add and remove
payment summary
total price
button to proceed and payment -->
<h2>order details</h2>
<div class="basket">
  <a href="/baskets/<%= basket._id %>">
</div>

<button></button>
