<%- include('../partials/header')%>

<ul>
  <% reciepts.forEach(reciept => { %>
      <li><a href="/reciept/<%= reciept._id %>">reciept <%= reciept._id %></a></li>
  <% }); %>
</ul>
</div>

<%- include('../partials/footer')%>