<%- include('../partials/header')%> <% restaurants.forEach(restaurant => {%>
<div class="restaurants">
  <a href="/restaurants/<%= restaurant._id %>"> <%=restaurant.name%> </a>
</div>

<%}); %>


</div>

<%- include('../partials/footer')%>
