<%- include('../partials/header')%>

<div class="categories">
  <% categories.forEach(category =>{%>
      <button>
        <%= category %>
      </button>
  <%}) %>
</div>

<div class="dishes">

</div>


<%- include('../partials/footer')%>